/* Estilos generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ff7613;
    --text-color: #727171;
}

html {
    font-size: 10px;
}

body {
    font-family: sans-serif; /* Ignora el tipo de tipografía personalizada */
    background-color: black;
    color: white;
}

/* Estilos comunes */
img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

.description {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
}

/* Diseño de la hoja de vida */
.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background-color: black;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}



/* Perfil */
.profile {
    grid-column: 1 / -1;
    margin-bottom: 2rem;
}

.group_1 {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.profile_container {
    display: flex;
    gap: 2rem;
}

.profile_profileImg {
    width: 700px;
}

.profile_name_firstname {
    color: white;
    font-size: 2rem;
    font-size: clamp(2rem, 8vw, 4rem);
    text-transform: uppercase;
    display: block;
    margin-bottom: -0.8rem;
}

.profile_name_lastname {
    color: var(--primary-color);
    font-weight: 700;
    font-size: clamp(2.5rem, 15vw, 7rem);
    text-transform: uppercase;
    display: block;
}

.profile_title {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

/* Conocimientos técnicos */
.CONOCIMIENTOS_TECNICOS_list {
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
}

.title {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

.pre_title {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 300;
}

.item_title {
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
    margin: 0.8rem 0;
}

.item_subtitle {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

/* Otros Estudios */

.Estudios_list {
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
}

/* Educación */

.edu_list {
    margin-top: 2rem;
}